.nav-bar {
    background-color: #111;
    padding: 8px 16px;
    border-radius: 12px;
    display: inline-block;

    &__list {
        list-style: none;
        display: flex;
        gap: 20px;
        margin: 0;
        padding: 0;
        align-items: center;
    }

    &__item {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover .nav-bar__icon {
            transform: scale(1.2);
            transition: transform 0.2s;
        }
    }

    &__icon {
        color: #fff;
        font-size: 18px;
        transition: transform 0.2s;
    }
}