.projects {
    padding: 3rem 1rem;
    color: #fff;

    .section-title {
        font-size: 110px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1;

        span {
            color: rgba(182, 180, 189, 0.2);
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
}

.project {
    display: flex;

    justify-content: space-between;
    gap: 2rem;
    padding: 20px 16px;

    &__thumbnail {
        flex-shrink: 0;

        img {
            width: 130px;
            height: 135px;
            border-radius: 10px;
            object-fit: cover;

        }
    }

    &__info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
            font-size: 1.5rem;
            font-weight: bold;
        }

        p {
            color: #aaa;
            margin-top: 4px;
        }
    }

    &__link {
        a {
            color: orange;
            font-size: 1.5rem;
            transition: transform 0.2s;
            text-decoration: unset;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

/* Tablet */
@media (max-width: 1024px) {
    .section-title {
        text-align: center;
    }
}