.sidebar {
    position: fixed;
    top: 160px;


    &__profile {
        text-align: center;
        background: white;
        height: 640px;
        width: 344px;
        border-radius: 16px;
        z-index: 1;
        padding: 30px 20px;
    }

    &__avatar {
        width: 240px;
        height: 284px;
        border-radius: 16px;
    }

    &__name {
        margin-top: 24px;
        font-weight: bold;
        font-size: 1.2rem;
        color: black;
        font-size: 36px;
        font-weight: bold;
    }

    &__bio {
        margin: 50px 0 0;
        font-size: 18px;
        color: $color-grey;

    }

    &__socials {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        gap: 16px;
    }

    &__social-icon {
        width: 24px;
        height: 24px;
        background-color: $color-white;
        border-radius: 50%;
    }
}



/* Tablet */
@media (max-width: 1024px) {
    .sidebar__profile {
        width: 100%;
    }

    .sidebar {
        position: unset;
        top: 0;
    }
}

@media (max-width: 768px) {
      .layout {
    padding: 160px 20px;
    display: flex;

    flex-direction: column;
  }
  .sidebar{
    display: block !important;
        position: unset;
        width: 100%;
        height: auto;
  }
}